/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr';

.article-item {
  padding: 0.5rem;
  background: transparent;
  border: unset;
  text-align: center;
  .article-wrapper {
    border: 1px solid black;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      text-align: center;
    }
    p {
      margin: unset;
      padding-top: 1rem;
      font-size: 0.75rem;
    }
    span {
      text-align: center;
      padding-top: 1rem;
    }
  }
}
.article-item:hover .article-wrapper {
  background: lightgray;
}

.main-section {
  padding: 2rem 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
  .page-link:focus {
    box-shadow: none;
  }
  ul {
    margin: unset;
  }
}

.comment-wrapper {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.navigation-section {
  padding: 1rem 0 2rem 0;
  a {
    width: 33%;
    border: 1px solid black;
    background: transparent;
    text-decoration: unset;
    color: black;
    padding: 0.5rem;
    text-align: center;
  }
  a:hover {
    background: lightgray;
  }
  .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.table-container {
  tbody tr {
    vertical-align: middle;
    .buttons-td {
      display: flex;
      justify-content: space-between;
    }
  }
}
.table-title {
  display: flex;
  padding-bottom: 1.25rem;
  justify-content: space-between;
}
